<h1>New user</h1>
<form action="/users" method="post">
  <%= auth_token %>
  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]" value="">

  <label for="passsword">Password:</label>
  <input type="password" name="user[password]" id="password" value="">

  <input type="submit" value="Create User">
</form>
