<h1>New Goal</h1>
<form action="/goals" method="post">
  <%= auth_token %>
  <label for="content">Content:</label>
  <input id="content" type="text" name="goal[content]" value="">
  <input type="submit" value="Create Goal">
</form>
